QWidget {
    background-color: #1e1e2f;
    color: white;
    font-size: 14px;
}

QPushButton {
    background-color: #089181;
    border-radius: 10px;
    padding: 8px;
}

QPushButton:hover {
    background-color: #26f2d3;
}

QLineEdit {
    border: 2px solid #444;
    border-radius: 8px;
    padding: 6px;
}

QLineEdit:focus {
    border: 2px solid #3a86ff;
}

* {
    font-family: "Press Start 2P";
}

QLabel {
    font-family: "Press Start 2P";
}
QPlainTextEdit {
    font-family: "Courier New";
}